
#bananaBtn{
    text-align: center;
    animation-name:constant ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#bananaBtn:active{
    animation: click 1s linear;
}
#bananaBtn button{
    background: none;
    border: none;
}
#bananaBtn:hover button{
    border: none;
    cursor: pointer;
}
#money{
    text-align: center;
}
#money h2{
    display: inline;
    color: whitesmoke;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family:"Luckiest Guy", cursive;
    font-size: 6em;
}
#money img{
    position: relative;
    top: 15px;
}
@keyframes constant{
    25%{transform: rotateZ(45deg)}
    50%{transform: rotateZ(0deg)}
    75%{transform: rotateZ(-45deg)}
    100%{transform: rotateZ(0deg)}
}
@keyframes click{
    50%{transform: scale(150%,150%);}
    25%{transform: rotateZ(45deg)}
    50%{transform: rotateZ(0deg)}
    75%{transform: rotateZ(-45deg)}
    100%{transform: rotateZ(0deg)}
}
#upgrades{
    float: left;
}
#upgrades button{
    background: none;
    border: none;
}
#upgrades #content{
    position: absolute;
    display: block;
    background-color: lightgray;
    position: absolute;
    min-width: 280px;
    box-shadow: 4px 4px gray;
}
#upgrades #content button{
    display: block;
    font-size: 2em;
}