

#legendaries{
    display: inline-block;
    background-color: white;
    border: 4px solid black;
    box-shadow: 4px 4px gray;
}
#legendaries:hover{
    display: inline-block;
    background-color: whitesmoke;
    border: 4px solid black;
    box-shadow: 4px 4px darkslategray;
}
#legendaries p{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}
#FFP{
    margin-left:50px ;
    height: 287px;

    display: inline-block;
    background-color: white;
    border: 4px solid black;
    box-shadow: 4px 4px gray;
}
#FFP:hover{
    display: inline-block;
    background-color: whitesmoke;
    border: 4px solid black;
    box-shadow: 4px 4px darkslategray;
}
#FFP p{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}
#FFP img{
    margin: 7px;
    margin-top: 44px;
}